body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f9fa;
}


.logo-rotated {
    font-style: italic; /* 글씨 기울이기 */
    color: black; /* 검은색 유지 */
}
.search-container {
    width: 40%;
}

.input-group-text {
    background-color: white; /* 배경색 */
    border-left: none; /* 왼쪽 테두리 제거 */
}

.bi-search {
    font-size: 1.5rem; /* 아이콘 크기 조정 */
    color: #000; /* 아이콘 색상 */
}

.shopping-cart {
    position: relative;
    cursor: pointer;
    padding: 8px;
}

.shopping-cart:hover {
    background-color: #f8f9fa;
    border-radius: 50%;
}

.shopping-cart .badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.7rem;
    transform: translate(25%, -25%);
}
